/* color variables */
:root {
    --moduleFull: rgb(64, 53, 165);
    --darkGray: rgb(22, 22, 22);
    --lightGray: rgb(57, 57, 57);
    --lightBlue: #1683cc;
    --lightBlueGrad: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(22, 131, 204, 1) 47%, rgba(11, 179, 223, 1) 100%);
    --lightBlueGradReverse: linear-gradient(-90deg, rgba(2, 0, 36, 1) 0%, rgba(22, 131, 204, 1) 47%, rgba(11, 179, 223, 1) 100%);
    --svgGradientBlue1: #00b7ff;
    --svgGradientBlue2: #3458fa;
}

form, input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* pre defined basics */
h1 {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 2em;
}

h2 {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 1.5em;
}

h3 {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 1em;
}

h4 {
    color: aliceblue;
    font-size: 1em;
}

h5,
h6,

p {
    font-size: 1em;
    color: rgb(146, 146, 146);
}

/* quick styles */
.text-white {
    color: rgba(255, 255, 255, 0.911);
}

.text-centered {
    text-align: center;
}

/* Custom styles */
.page-header {
    width: 100%;
    margin: 0;
    border: none;
    padding: 0;
    height: inherit;
    background-color: var(--darkGray);
    /*opacity: 50%;*/
    /*
  background-image: url(../localAssets/YoutubeBanner.png);
  background-position: center;
  background-repeat: repeat;
  background-size: 12em;
  */
}

.page-header-img {
    width: 100%;
    height: auto;
    margin: 0;
    opacity: 70%;
    border: none;
    padding: 0;
}

.body-splitter {
    width: 100%;
    height: 20vh;
}

.body-splitter-lg {
    width: 100%;
    height: 40vh;
}

.body-splitter-sm {
    width: 100%;
    height: 15vh;
}

.page-header-separator {
    width: 100%;
    height: 4em;
}

.page-holder-modules {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    width: 90vw;
    padding: auto;
    margin: auto;
    height: inherit;
}

.page-holder-full {
    height: auto;
    background-color: var(--darkGray);
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
    position: relative;
    margin: 0;
    border-radius: 0;
    border: 0;
    box-shadow: 0em 0em 4em -1em rgb(0, 0, 0);
    /* clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100% ); */
}

.page-footer {
    background-color: rgba(17, 17, 17, 0.973);
    text-align: center;
    height: auto;
    top: 150em;
    padding: 2em;
}

.profile-pic {
    width: 50%;
    border-radius: 2em;
}

.btn-primary-flex {
    text-align: center;
    display: flex;
    margin: auto;
    padding: 1em;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgb(6, 155, 175);
    font-size: 1.5em;
    font-family: "Courier New", monospace;
    font-weight: bold;
    box-shadow: 0em .5em 2em 1em rgba(0, 0, 0, 0.74);
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vw;
    margin: auto;
    text-align: center;
    background-color: var(--lightGray);
    width: 100%;
    height: 30vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: min(10vh, 1.1em);
    overflow: auto;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    /* border-radius: 10px; */
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
}

.grid-row {
    display: flex;
    flex-direction: row;
    padding: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-object {
    display: flex;
    border-radius: 10px;
    background-color: #2892d7;
    width: fit-content;
    height: 10vh;
}

.btn-primary {
    background-image: none;
    border: none;
    border-radius: 0;
    background-color: #2892d7;
}

.btn-secondary-flex {
    margin: auto;
    padding: 2em;
    display: block;
    text-align: center;
}

.btn-secondary {
    height: 3em;
    width: 8em;
    border-radius: 1em;
    background-color: #2892d7;
}

.centered-text {
    text-align: center;
}

.row-home {
    justify-content: center;
}

.social-media-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media-logo {
    margin: 0.5em;
    height: 3em;
    width: 3em;
    border-radius: 4em;
}

.contact-container {
    background-color: rgb(37, 37, 37);
    height: 4em;
}