:root{
  --bgColor: rgb(8, 74, 255);
}

body {
  background-color: rgb(34, 34, 34);
  background-image: url(./localAssets/bgTest7.png);
  background-repeat: repeat;
  background-position: center;
  background-size: max(50vw, 90vw);
  /* backdrop-filter: blur(0.1rem); */
  /* opacity: .4; */
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
